.button {
  padding: 6px 35px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-weight: 240;
  font-size: 22px;
  margin: 3px;
}

.button:hover {
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
}

.secondary-button {
  color: var(--primary-color);
}