.CommentBox{
    width: 40%;
    height: auto;
    padding: 5px;
    background-color: #6a308b;
    color: #ffffff;
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border-radius: 10px;
}

.Head{
    font-size:larger;
}

.CommentText{

}

.CommentDate{
    display:inline;
}

.CommentTicker{
    display:inline;
}

.CommentTicker:hover{
    color:black;
}

body{
}

h2{
}

.OtherPage{
    border-radius: 5px;
}