.CommentBox{
    justify-content: flex-start;
}

.Head{
    font-size:larger;
    padding-bottom: 10px;
}

.Tail{
    font-size:large;
}

.CommentText{
    font-size:medium;
}

.CommentDate{
    display:inline;
}

.CommentTicker{
    display:inline;
}

.CommentTicker:hover{
    color:black;
}

.CommentUser{
}

.CommentUser:hover{
    text-decoration: underline;
}

body{
}

h2{
}

.OtherPage{
    border-radius: 5px;
}